<mat-card>
    <mat-card-header>
        <mat-card-title class="mb-2">{{
            isConfirmationCodePending ? 'Введите код подтверждения' : 'Смена пароля'
        }}</mat-card-title>
        <mat-card-subtitle class="m-0" *ngIf="isConfirmationCodePending">
            На номер {{ phone }} было отправлено СМС с кодом подтверждения для смены пароля.
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mb-0">
        <form [formGroup]="form" (ngSubmit)="submit(changePasswordForm)" #changePasswordForm="ngForm">
            <ng-template #passwordFields>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Новый пароль</mat-label>
                    <input matInput formControlName="password" placeholder="*********" type="password" />

                    <mat-error *ngIf="form.get('password').errors?.required">
                        Необходимо ввести новый пароль
                    </mat-error>

                    <mat-error *ngIf="form.get('password').errors?.minlength">
                        Пароль не может быть менее
                        {{ form.get('password').errors.minlength.requiredLength }}
                        символов
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Еще раз</mat-label>
                    <input matInput formControlName="confirmPassword" placeholder="*********" type="password" />

                    <mat-error *ngIf="form.get('confirmPassword').errors?.required">
                        Новый пароль необходимо подтвердить
                    </mat-error>

                    <mat-error *ngIf="form.get('confirmPassword').errors?.length">
                        Пароль не может быть менее
                        {{ form.get('confirmPassword').errors.minlength.requiredLength }}
                        символов
                    </mat-error>
                </mat-form-field>
            </ng-template>

            <mat-form-field appearance="outline" class="w-100" *ngIf="isConfirmationCodePending; else passwordFields">
                <mat-label>Код из СМС</mat-label>
                <input
                    matInput
                    formControlName="smsConfirmationCode"
                    placeholder="1234"
                    type="text"
                    minlength="4"
                    maxlength="4"
                />

                <mat-error
                    *ngIf="
                        form.get('smsConfirmationCode').errors?.minlength ||
                        form.get('smsConfirmationCode').errors?.maxlength
                    "
                >
                    Код подтверждения состоит из 4 цифр
                </mat-error>

                <mat-error *ngIf="form.get('smsConfirmationCode').errors?.required">
                    Введите код подтверждения
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-flat-button
            color="primary"
            class="w-100"
            (click)="requestConfirmationCode()"
            *ngIf="!isConfirmationCodePending; else smsConfirmationButtons"
            [disabled]="isRequesting"
        >
            Далее
        </button>

        <ng-template #smsConfirmationButtons>
            <div class="d-flex flex-column flex-sm-row">
                <button mat-button class="mr-3 mb-3 mb-sm-0 w-100" (click)="isConfirmationCodePending = false">
                    <mat-icon>keyboard_arrow_left</mat-icon> Назад
                </button>

                <button
                    mat-flat-button
                    type="submit"
                    color="primary"
                    class="w-100"
                    (click)="changePasswordForm.ngSubmit.emit()"
                    [disabled]="isRequesting"
                >
                    Подтвердить
                </button>
            </div>

            <button
                mat-flat-button
                type="submit"
                color="accent"
                class="w-100 mt-3"
                (click)="requestConfirmationCode()"
                *ngIf="isConfirmationCodeResendButtonVisible"
                [@fade]
            >
                Выслать код повторно
            </button>
        </ng-template>
    </mat-card-actions>
</mat-card>
