<div class="container-fluid">
    <h1 class="mb-4">Справочники</h1>

    <div class="row">
        <div class="col-12 col-lg-7 col-xl-9">
            <mat-card class="p-0 table-responsive mb-3">
                <loading-indicator *ngIf="isRequesting"></loading-indicator>
                <table mat-table [dataSource]="department" class="stripped">

                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef>Название</th>
                        <td
                            mat-cell
                            *matCellDef="let dictionary"
                            [routerLink]="['/department-list']"
                        >
                            {{ dictionary.name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="departmentAndPosition">
                        <th mat-header-cell *matHeaderCellDef>Последние редактирование</th>
                        <td
                            mat-cell
                            *matCellDef="let dictionary"
                            [routerLink]="['/department-list']"
                        >
                            {{dictionary.hairDate}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="contacts">
                        <th mat-header-cell *matHeaderCellDef>Автор</th>
                        <td
                            mat-cell
                            *matCellDef="let dictionary"
                            [routerLink]="['/department-list']"
                        >
                            {{dictionary.Author}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="text-right">Действия</th>
                        <td mat-cell *matCellDef="let dictionary" class="text-right">
                            <button
                                mat-mini-fab
                                class="mat-fab-basic mr-3"
                                matTooltip="История"
                                matTooltipPosition="above"
                                [routerLink]="['']"
                            >
                                <mat-icon>history</mat-icon>
                            </button>
                            <button
                                mat-mini-fab
                                class="mat-fab-basic"
                                matTooltip="Просмотреть лист"
                                matTooltipPosition="above"
                                [routerLink]="['/department-list']"
                            >
                                <mat-icon>remove_red_eye</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let dictionary; columns: displayedColumns"></tr>
                </table>
            </mat-card>

        </div>
        <div class="col-12 col-lg-5 col-xl-3">
            <app-dictionaries-filter (onFilter)="get($event)"></app-dictionaries-filter>
        </div>
    </div>
</div>
<!--<floating-fab-->
<!--    link=""-->
<!--    title="Добавить "-->
<!--    icon="add"-->
<!--&gt;</floating-fab>-->
