<div class="container-fluid">
    <h1 class="mb-4">{{ title }}</h1>

    <form class="row" [formGroup]="form" (ngSubmit)="submit()">
        <div class="col-12 col-md-4 col-lg-3 mb-3 mb-lg-0">
            <mat-card class="p-0">
                <img
                    src="{{
                        passportData?.passportScanPath
                            ? passportData.passportScanPath
                            : '../../../../assets/img/noavatar.jpg'
                    }}"
                    alt="Фото сотрудника"
                    class="photo-preview w-100 rounded-top object-cover"
                />
                <div class="p-4">
                    <button mat-button class="file-input-button w-100" type="button">
                        <input
                            type="file"
                            accept="image/jpg,image/jpeg"
                            (change)="renderAndAssignPassportScan($event.target.files)"
                        />
                        Загрузить фото
                    </button>
                </div>
            </mat-card>
        </div>
        <div class="col-12 col-md-8 col-lg-6 mb-4 mb-lg-0">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Цифровые данные</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-progress-bar
                        mode="indeterminate"
                        *ngIf="isRequesting"
                        class="mat-progress-bar_top rounded-top"
                    ></mat-progress-bar>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Серия и номер</mat-label>
                                <input matInput placeholder="А6771586" formControlName="passportNumber" required />
                                <mat-error *ngIf="form.get('passportNumber').errors?.required">
                                    Серия и номер обязательны
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Дата выдачи</mat-label>
                                <input
                                    matInput
                                    placeholder="12.10.2002"
                                    [matDatepicker]="passportIssueDate"
                                    formControlName="passportIssueDate"
                                    [max]="today"
                                    required
                                />
                                <mat-datepicker-toggle matSuffix [for]="passportIssueDate"></mat-datepicker-toggle>
                                <mat-datepicker #passportIssueDate></mat-datepicker>
                                <mat-error *ngIf="form.get('passportIssueDate').errors?.required">
                                    Выберите дату
                                </mat-error>
                                <mat-error *ngIf="form.get('passportIssueDate').errors?.matDatepickerParse">
                                    Введите дату в формате ДД.ММ.ГГГГ
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Орган, выдавший паспорт</mat-label>
                                <input
                                    matInput
                                    placeholder="ОВД р-на Шохмансур, г. Душанбе"
                                    formControlName="passportIssuer"
                                    required
                                />
                                <mat-error *ngIf="form.get('passportIssuer').errors?.required">
                                    Поле обязательно
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Национальность</mat-label>
                                <mat-select formControlName="nationalityId" required>
                                    <mat-option *ngFor="let nationality of nationalities" [value]="nationality.id">
                                        {{ nationality.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.get('nationalityId').errors?.required">
                                    Национальность обязательна
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Дата рождения</mat-label>
                                <input
                                    matInput
                                    placeholder="15.09.1995"
                                    [matDatepicker]="dateOfBirth"
                                    formControlName="dateOfBirth"
                                    required
                                    [min]="minDate"
                                    [max]="aultDate"
                                />
                                <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                                <mat-datepicker #dateOfBirth></mat-datepicker>
                                <mat-error *ngIf="form.get('dateOfBirth').errors?.required">
                                    Выберите дату
                                </mat-error>
                                <mat-error *ngIf="form.get('dateOfBirth').errors?.matDatepickerParse">
                                    Введите дату в формате ДД.ММ.ГГГГ
                                </mat-error>
                                <mat-error *ngIf="form.get('dateOfBirth').errors?.matDatepickerMin">
                                    Минимальная дата – 01.01.1900
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Прописка</mat-label>
                                <input
                                    matInput
                                    placeholder="г. Душанбе, ул. Лохути, д. 5, кв. 8"
                                    formControlName="passportAddress"
                                    required
                                />
                                <mat-error *ngIf="form.get('passportAddress').errors?.required">
                                    Прописка обязательна
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-12 col-lg-3 d-flex flex-row-reverse flex-lg-column">
            <button mat-flat-button color="primary" class="mb-3 w-100"> <mat-icon>save</mat-icon> Сохранить </button>

            <button mat-button class="mb-3 mr-3 mr-lg-0 w-100" type="button" (click)="this.location.back()">
                <mat-icon>keyboard_arrow_left</mat-icon> Назад
            </button>
        </div>
    </form>
</div>
