<mat-card class="p-0 shadow-none">
    <mat-card-header>
        <mat-card-title class="m-0">
            <p *ngIf="heading">Добавить запись</p>
            <p *ngIf="!heading">Редактировние записи</p>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mb-0">
        <form [formGroup]="form" (ngSubmit)="submit()" #submitForm="ngForm">
            <mat-form-field appearance="outline">
                <mat-label>Название</mat-label>
                <input matInput placeholder="Название" formControlName="name">
            </mat-form-field>
            <mat-slide-toggle labelPosition="before" formControlName="isActive" color="primary" class="mb-3">Активнa
            </mat-slide-toggle>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" type="submit" class="w-100 m-0" (click)="submitForm.ngSubmit.emit()">
            <mat-icon>save</mat-icon>Сохранить
        </button>
    </mat-card-actions>
</mat-card>