<form [formGroup]="form" (ngSubmit)="resetPassword()">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Логин</mat-label>
        <input matInput hideRequiredMarker formControlName="phone" placeholder="934114400" type="tel" maxlength="9" />
        <mat-icon matSuffix>local_phone</mat-icon>

        <mat-error *ngIf="phone.errors?.required">Введите номер телефона</mat-error>
        <mat-error *ngIf="phone.errors?.minlength">
            Номер не может быть менее {{ phone.errors.minlength.requiredLength }} цифр
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="btn-lg btn-block mb-2"
        [disabled]="authService.isRequesting">Восстановить пароль</button>

    <button mat-button (click)="undoResetPassword()" class="btn-lg btn-block" type="button">Отмена</button>
</form>