<form [formGroup]="form" (ngSubmit)="resetPassword()">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Логин</mat-label>
        <input
            matInput
            hideRequiredMarker
            formControlName="phoneNumber"
            placeholder="934114400"
            type="tel"
            maxlength="9"
        />
        <mat-icon matSuffix>local_phone</mat-icon>

        <mat-error *ngIf="form.get('phoneNumber').errors?.required">Введите номер телефона</mat-error>
        <mat-error *ngIf="form.get('phoneNumber').errors?.minlength">
            Номер не может быть менее {{ form.get('phoneNumber').errors.minlength.requiredLength }} цифр
        </mat-error>
        <mat-error *ngIf="form.get('phoneNumber').errors?.pattern">
            Только цифры
        </mat-error>
    </mat-form-field>

    <button
        mat-flat-button
        color="primary"
        color="primary"
        type="submit"
        class="btn-lg btn-block mb-2"
        [disabled]="authComponent.isRequesting"
        >Сбросить пароль</button
    >

    <button mat-button (click)="undo()" class="btn-lg btn-block" type="button" [disabled]="authComponent.isRequesting"
        >Отмена</button
    >
</form>
