<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Заблокировать пользователя
            </mat-panel-title>
        </mat-expansion-panel-header>
        Ничего нет
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Права доступа к функционалу
            </mat-panel-title>
        </mat-expansion-panel-header>
        Ничего нет
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Права доступа к данным
            </mat-panel-title>
        </mat-expansion-panel-header>
        Ничего нет
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Сбросить пароль
            </mat-panel-title>
        </mat-expansion-panel-header>
        Ничего нет
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Активность пользователя
            </mat-panel-title>
        </mat-expansion-panel-header>
        Ничего нет
    </mat-expansion-panel>
</mat-accordion>
