@import '../../../sass/_mixins/_media'
@import '../../../sass/_vars'

// MatSideNav
mat-sidenav
    width: 300px
    background-color: $black
    color: $light-grey
    +respond-to(phone)
        width: 100%

mat-sidenav-content
    +respond-to(tablet)
        width: 100%

.nav-link 
    color: $light-grey
    background-color: transparent
    padding-top: .75rem
    padding-bottom: .75rem

    &:hover
        background-color: lighten($black, 10%)


app-header
    position: fixed
    width: calc(100% - 300px)
    +respond-to(tablet)
        width: 100%


.container-fluid
    padding-top: 120px
    +respond-to(tablet)
        padding-top: 85px
    +respond-to(phone-land)
        padding-top: 75px