<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="isSidebarOpened" #sidenav>
        <mini-profile></mini-profile>

        <div class="p-4">
            <notification-widget></notification-widget>
        </div>

        <main-navigation></main-navigation>

        <nav class="mt-auto list-unstyled pb-3">
            <li>
                <button matRipple (click)="authService.signOut()"
                    class="nav-link d-flex align-items-center px-4 w-100 border-0">
                    <mat-icon class="mr-3">exit_to_app</mat-icon> Выйти из системы
                </button>
            </li>
            <li>
                <a matRipple [routerLink]="['/help']" class="nav-link d-flex align-items-center px-4 w-100 border-0">
                    <mat-icon class="mr-3">help</mat-icon> Помощь
                </a>
            </li>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-header></app-header>

        <div class="container-fluid pt-4">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>