@import '../../../sass/_vars'


.mini-profile
    background-color: darken($grey, 30%)
    height: 89px
    color: $light-grey

    .avatar
        max-width: 50px
        max-height: 50px
    
    .full-name
        margin-bottom: -3px
    
    .position
        font-size: .875rem
        opacity: .7