<mat-progress-bar mode="indeterminate" *ngIf="isRequesting" class="mat-progress-bar_top global"></mat-progress-bar>

<div class="container-fluid">
    <h1 class="mb-4">{{ title }}</h1>

    <form class="row" [formGroup]="form" #formDirective="ngForm">
        <div class="col-12 col-md-4 col-lg-3 mb-4 mb-lg-0">
            <mat-card class="p-0">
                <img
                    src="{{
                        essentialData?.photoPath ? essentialData.photoPath : '../../../../../../assets/img/noavatar.jpg'
                    }}"
                    alt="Фото сотрудника"
                    class="photo-preview w-100 rounded-top object-cover"
                />
                <div class="p-4">
                    <button mat-button class="file-input-button w-100" type="button">
                        <input
                            type="file"
                            accept="image/jpg,image/jpeg"
                            (change)="renderAndAssignPhoto($event.target.files)"
                        />
                        Загрузить фото
                    </button>
                </div>
            </mat-card>
        </div>
        <div class="col-12 col-md-8 col-lg-6 mb-4">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Главное</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Фамилия</mat-label>
                                <input matInput placeholder="Расулов" formControlName="lastName" required />
                                <mat-error *ngIf="form.get('lastName').errors?.required">Фамилия обязательна</mat-error>
                                <mat-error *ngIf="form.get('lastName').errors?.pattern"
                                    >Только буквы кириллического алфавита</mat-error
                                >
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Имя</mat-label>
                                <input matInput placeholder="Азамат" formControlName="firstName" required />
                                <mat-error *ngIf="form.get('firstName').errors?.required">Имя обязательно</mat-error>
                                <mat-error *ngIf="form.get('firstName').errors?.pattern"
                                    >Только буквы кириллического алфавита</mat-error
                                >
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Отчество</mat-label>
                                <input matInput placeholder="Олимович" formControlName="middleName" />
                                <mat-error *ngIf="form.get('middleName').errors?.pattern">
                                    Только буквы кириллического алфавита
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Дата рождения</mat-label>
                                <input
                                    matInput
                                    placeholder="15.09.1995"
                                    [matDatepicker]="dateOfBirth"
                                    formControlName="dateOfBirth"
                                    required
                                    [min]="minDate"
                                    [max]="aultDate"
                                />
                                <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                                <mat-datepicker #dateOfBirth></mat-datepicker>
                                <mat-error *ngIf="form.get('dateOfBirth').errors?.required">
                                    Выберите дату
                                </mat-error>
                                <mat-error *ngIf="form.get('dateOfBirth').errors?.matDatepickerParse">
                                    Введите дату в формате ДД.ММ.ГГГГ
                                </mat-error>
                                <mat-error *ngIf="form.get('dateOfBirth').errors?.matDatepickerMin">
                                    Минимальная дата – 01.01.1900
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6 d-flex align-items-center">
                            <mat-radio-group color="primary" formControlName="genderId">
                                <mat-radio-button value="{{ gender.id }}" class="mr-3" *ngFor="let gender of genders">{{
                                    gender.name
                                }}</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Дата приема на работу</mat-label>
                                <input
                                    matInput
                                    placeholder="12.08.2019"
                                    [matDatepicker]="hireDate"
                                    formControlName="hireDate"
                                    [max]="today"
                                    required
                                />
                                <mat-datepicker-toggle matSuffix [for]="hireDate"></mat-datepicker-toggle>
                                <mat-datepicker #hireDate></mat-datepicker>

                                <mat-error *ngIf="form.get('hireDate').errors?.matDatepickerParse">
                                    Введите дату в формате ДД.ММ.ГГГГ
                                </mat-error>
                                <mat-error *ngIf="form.get('hireDate').errors?.matDatepickerMin">
                                    Минимальная дата – 01.01.1900
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Подразделение</mat-label>
                                <mat-select
                                    formControlName="departmentId"
                                    required
                                    (selectionChange)="getPositions(form.get('departmentId').value)"
                                >
                                    <mat-option *ngFor="let department of departments" [value]="department.id">
                                        {{ department.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Позиция</mat-label>
                                <mat-select formControlName="positionId" required>
                                    <mat-option *ngFor="let position of positions" [value]="position.id">
                                        {{ position.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Телефон</mat-label>
                                <input
                                    matInput
                                    placeholder="934114400"
                                    formControlName="phone"
                                    minlength="9"
                                    maxlength="9"
                                    required
                                />
                                <mat-error *ngIf="form.get('phone').errors?.required"
                                    >Номер телефона обязателен</mat-error
                                >
                                <mat-error *ngIf="form.get('phone').errors?.minlength">
                                    Номер не может быть менее
                                    {{ form.get('phone').errors.minlength.requiredLength }}
                                    цифр
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="azamat@mail.ru" formControlName="email" />

                                <mat-error *ngIf="form.get('email').errors?.pattern">
                                    Неверный Email
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Фактический адрес</mat-label>
                                <input
                                    matInput
                                    placeholder="г. Душанбе, ул. Лохути, д. 5, кв. 8"
                                    formControlName="factualAddress"
                                    required
                                />

                                <mat-error *ngIf="form.get('factualAddress').errors?.required">
                                    Фактический адрес обязателен
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Дополнительное описание</mat-label>
                                <textarea
                                    matInput
                                    placeholder="Здесь можно оставить заметку о сотруднике"
                                    formControlName="description"
                                    matTextareaAutosize
                                    matAutosizeMinRows="4"
                                    maxlength="256"
                                ></textarea>
                                <mat-hint>Не более 256 символов</mat-hint>
                                <mat-error *ngIf="form.get('description').errors?.maxlength">
                                    Описание не может содержать более
                                    {{ form.get('description').errors.maxlength.requiredLength }}
                                    символов
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-12 col-lg-3 d-flex flex-column flex-md-row flex-md-row-reverse flex-lg-column">
            <button
                mat-flat-button
                color="primary"
                class="mb-3 w-100"
                (click)="submit('profile', formDirective)"
                [disabled]="isRequesting"
            >
                <mat-icon>save</mat-icon> Сохранить
            </button>

            <button
                mat-flat-button
                color="accent"
                class="mb-3 w-100 mx-md-3 mx-lg-0"
                (click)="submit('create', formDirective)"
                *ngIf="!id"
                [disabled]="isRequesting"
            >
                <mat-icon>save</mat-icon> Сохранить и добавить еще
            </button>

            <button mat-button class="mb-3 w-100" type="button" (click)="this.location.back()">
                <mat-icon>keyboard_arrow_left</mat-icon> Назад
            </button>
        </div>
    </form>
</div>
