<mat-progress-bar mode="indeterminate" *ngIf="isRequesting" class="global"></mat-progress-bar>>
<mat-card class="introduction-card rounded-0 d-flex align-items-center justify-content-between">
    <div class="d-flex flex-column flex-md-row align-items-center m-auto m-md-0">
        <img
            src="{{ essentialData.photoPath }}"
            alt="{{ essentialData.fullName }}"
            class="introduction-card__avatar rounded-circle mr-md-4 mb-3 mb-md-0"
        />

        <div class="text-center text-md-left">
            <h1 class="introduction-card__name">{{ essentialData.fullName }}</h1>
            <span class="introduction-card__position">
                {{ essentialData.department }} › {{ essentialData.position }}
            </span>
        </div>
    </div>

    <button
        (click)="location.back()"
        mat-button
        class="mat-button-sm has-icon d-none d-md-block ml-3"
    >
        <mat-icon>keyboard_arrow_left</mat-icon> Назад к списку
    </button>
</mat-card>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-8 col-xl-9">
            <mat-tab-group
                dynamicHeight
                animationDuration="0ms"
                (selectedTabChange)="catchTabChange($event)"
                mat-stretch-tabs
            >
                <div class="container-fluid">
                    <mat-tab label="Главное">
                        <mat-card>
                            <loading-indicator
                                *ngIf="isRequesting"
                                class="position-absolute w-100 h-100"
                            ></loading-indicator>
                            <mat-list role="list" class="p-0 no-mt no-mb">
                                <mat-list-item role="listitem">
                                    <span class="key mr-auto">Дата рождения</span>
                                    <span class="value text-right">{{
                                        essentialData.dateOfBirth
                                    }}</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>

                                <mat-list-item role="listitem">
                                    <span class="key mr-auto">Подразделение</span>
                                    <span class="value text-right">{{
                                        essentialData.department
                                    }}</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>

                                <mat-list-item role="listitem">
                                    <span class="key mr-auto">Позиция</span>
                                    <span class="value text-right">{{
                                        essentialData.position
                                    }}</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>

                                <mat-list-item role="listitem">
                                    <span class="key mr-auto">Дата приема на работу</span>
                                    <span class="value text-right">{{
                                        essentialData.hireDate
                                    }}</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>

                                <mat-list-item role="listitem">
                                    <span class="key mr-auto">Телефон</span>
                                    <span class="value text-right">{{ essentialData.phone }}</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>

                                <mat-list-item role="listitem">
                                    <span class="key mr-auto">Email</span>
                                    <span class="value text-right">{{ essentialData.email }}</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>

                                <mat-list-item role="listitem">
                                    <span class="key mr-auto">Фактический адрес</span>
                                    <span class="value text-right">{{
                                        essentialData.factualAddress
                                    }}</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>

                                <mat-list-item role="listitem">
                                    <span class="key mr-auto">Пол</span>
                                    <span class="value text-right">{{ essentialData.gender }}</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                            <div class="d-flex flex-column mt-5">
                                <span class="key mr-auto mb-2">Дополнительное описание</span>
                                <span class="value">{{ essentialData.description }}</span>
                            </div>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Паспортные данные">
                        <ng-container *ngIf="passportData">
                            <div class="row">
                                <div class="col-12 col-lg-5 col-xl-4 mb-4 mb-lg-0">
                                    <mat-card class="p-0">
                                        <img
                                            src="{{ passportData.scanUrl }}"
                                            alt="{{ essentialData.fullName }}"
                                            class="passport-scan w-100 rounded-top"
                                        />
                                        <div class="p-4">
                                            <a
                                                href="{{ passportData.scanUrl }}"
                                                mat-button
                                                class="w-100"
                                                download="{{ passportData.scanUrl }}"
                                                target="_blank"
                                            >
                                                Скачать скан документа
                                            </a>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-12 col-lg-7 col-xl-8">
                                    <mat-card>
                                        <loading-indicator
                                            *ngIf="isRequesting"
                                            class="position-absolute w-100 h-100"
                                        ></loading-indicator>
                                        <mat-list role="list" class="p-0 no-mt no-mb">
                                            <mat-list-item role="listitem">
                                                <span class="key mr-auto">Серия и номер</span>
                                                <span class="value text-right">{{
                                                    passportData.seriesAndNumber
                                                }}</span>
                                            </mat-list-item>
                                            <mat-divider></mat-divider>

                                            <mat-list-item role="listitem">
                                                <span class="key mr-auto"
                                                    >Орган, выдавший паспорт</span
                                                >
                                                <span class="value text-right">{{
                                                    passportData.issuer
                                                }}</span>
                                            </mat-list-item>
                                            <mat-divider></mat-divider>

                                            <mat-list-item role="listitem">
                                                <span class="key mr-auto">Дата выдачииция</span>
                                                <span class="value text-right">{{
                                                    passportData.issueDate
                                                }}</span>
                                            </mat-list-item>
                                            <mat-divider></mat-divider>

                                            <mat-list-item role="listitem">
                                                <span class="key mr-auto">Национальность</span>
                                                <span class="value text-right">{{
                                                    passportData.nationality
                                                }}</span>
                                            </mat-list-item>
                                            <mat-divider></mat-divider>

                                            <mat-list-item role="listitem">
                                                <span class="key mr-auto">Дата рождения</span>
                                                <span class="value text-right">{{
                                                    passportData.birthDate
                                                }}</span>
                                            </mat-list-item>
                                            <mat-divider></mat-divider>

                                            <mat-list-item role="listitem">
                                                <span class="key mr-auto">Прописка</span>
                                                <span class="value text-right">{{
                                                    passportData.registration
                                                }}</span>
                                            </mat-list-item>
                                        </mat-list>
                                    </mat-card>
                                </div>
                            </div>
                        </ng-container>
                    </mat-tab>
                    <mat-tab label="Учетная запись">
                        <user
                            id="{{ essentialData.userId }}"
                            *ngIf="essentialData.userId; else createUser"
                        ></user>
                        <ng-template #createUser>
                            <create-user employeeId="{{ id }}"></create-user>
                        </ng-template>
                    </mat-tab>
                </div>
            </mat-tab-group>
        </div>
        <div class="col-12 col-md-5 col-lg-4 col-xl-3 mat-tab-body-padding">
            <button
                [routerLink]="['/administration/employees/edit/essential/:id']"
                mat-button
                class="mb-3 w-100"
                *ngIf="activeTabLabel === 'Главное'"
            >
                <mat-icon>edit</mat-icon> Редактировать
            </button>

            <button
                [routerLink]="['/administration/employees/edit/passport/:id']"
                mat-button
                class="mb-3 w-100"
                *ngIf="activeTabLabel === 'Паспортные данные'"
            >
                <mat-icon>edit</mat-icon> Редактировать
            </button>

            <button
                mat-flat-button
                color="primary"
                (click)="export(id, 'essential')"
                class="mb-3 w-100"
                *ngIf="activeTabLabel !== 'Учетная запись'"
            >
                <mat-icon>insert_drive_file</mat-icon> Выгрузить карточку в PDF
            </button>
            <button
                mat-flat-button
                color="warn"
                (click)="openLockDialog()"
                class="mb-3 w-100"
                *ngIf="activeTabLabel !== 'Учетная запись'"
            >
                <mat-icon>block</mat-icon> Заблокировать сотрудника
            </button>
            <mat-card class="log-data mb-4">
                <mat-card-header>
                    <mat-card-title class="m-0">Дополнительная информация</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mb-4">
                    <mat-list role="list" class="p-0 no-mt">
                        <mat-list-item role="listitem">
                            <span class="key mr-auto">Автор записи</span>
                            <span class="value text-right">{{ logData.authorName }}</span>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <mat-list-item role="listitem">
                            <span class="key mr-auto">Дата записи</span>
                            <span class="value text-right">{{ logData.createdAt }}</span>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <mat-list-item role="listitem">
                            <span class="key mr-auto">Последнее редактирование</span>
                            <span class="value text-right">{{ logData.lastEdit }}</span>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions>
                    <a
                        [routerLink]="['/log/emloyee', id]"
                        mat-flat-button
                        color="primary"
                        class="btn-lg btn-block"
                    >
                        История изменений
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
