@import '../../../../sass/_vars'
    
.introduction-card
    padding-bottom: 60px
    margin-top: -30px

    .mat-card
        box-shadow: none !important

    &__avatar
        max-width: 100px
        max-height: 100px

    &__position
        color: $grey
        font-size: 14px

.mat-tab-group
    margin-top: -48px

.value
    color: $grey
