employee
    .mat-tab-header
        margin-right: -30px
        margin-left: -30px
        +respond-to(tablet)
            margin-right: -15px
            margin-left: -15px

    .mat-tab-body,
    .mat-tab-body-padding
        padding-top: 30px
        +respond-to(tablet)
            padding-top: 15px
    
    .mat-tab-nav-bar, 
    .mat-tab-header
        border: none