<mat-card class="p-0 shadow-none">
  <mat-card-header>
    <mat-card-title class="m-0">{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mb-0">
    <form [formGroup]="form" (ngSubmit)="submit()" #submitForm="ngForm">

      <mat-form-field appearance="outline">
        <mat-label>Название</mat-label>
        <input matInput placeholder="Название" formControlName="name">

        <mat-error *ngIf="form.get('name').errors?.required">Название обязательно</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="departmentId || departments">
        <mat-label>Подразделение</mat-label>
        <mat-select formControlName="departmentId">
          <ng-container *ngFor="let department of departments">
            <mat-option [value]="department.id">
              {{ department.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle labelPosition="before" formControlName="isActive" color="primary" class="mb-3">Активнa
      </mat-slide-toggle>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" type="submit" class="btn-lg btn-block m-0"
      (click)="submitForm.ngSubmit.emit()">
      <mat-icon class="mat-18">save</mat-icon>Сохранить
    </button>
  </mat-card-actions>
</mat-card>