.auth
    min-height: 100vh
    background-image: url('./img/bg.png')
    background-size: cover

    .progress-spinner
        z-index: 1

    .mat-card
        padding: 35px
        width: 400px
        max-width: 100%

        .company-logo
            max-width: 180px