<div class="auth w-100 d-flex justify-content-center align-items-center">
    <mat-spinner class="progress-spinner position-absolute" *ngIf="authService.isRequesting"></mat-spinner>
    <mat-card>
        <mat-card-header class="align-items-center flex-column flex-column-reverse">
            <img src="../../assets/img/company-logo.jpg" alt="" class="company-logo mb-3">
            <mat-card-title class="h1">Вход в систему</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-sign-in></app-sign-in>
        </mat-card-content>
    </mat-card>
</div>