<mat-card class="mb-4" *ngIf="departments" [@fade]>
    <mat-card-header>
        <mat-card-title class="m-0">Фильтр</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mb-0">
        <form [formGroup]="form" (ngSubmit)="filter()" #filterForm="ngForm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>ФИО</mat-label>
                <input matInput formControlName="fullName" placeholder="Мирзоев Кодир Шавкатович" type="text" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Отдел</mat-label>
                <mat-select formControlName="departmentId">
                    <mat-option value="all">Все</mat-option>
                    <mat-option *ngFor="let department of departments" value="{{ department.id }}">{{
                        department.name
                    }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-slide-toggle labelPosition="before" class="mb-3" color="primary" checked formControlName="onlyUsers">
                Только пользователи
            </mat-slide-toggle>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" type="submit" class="btn-lg btn-block mb-3"
            (click)="filterForm.ngSubmit.emit()">
            Найти
        </button>
        <button mat-flat-button mat-button type="button" class="btn-lg btn-block m-0"
            (click)="reset()">Сбросить</button>
    </mat-card-actions>
</mat-card>